{% extends 'webdatabase/base.html' %} 

{% load crispy_forms_tags %}
 {% block content %}
<body>
  <div class="container bg-light shadow-md p-5 w-400 form-layout">
    <div class="text-center">
      <h3>Log into Your Account</h3>

      <hr />
    </div>
    <br />
    <form method="POST" autocomplete="off">
      {% csrf_token%} 
      {{form.username|as_crispy_field}}
      <br />
      {{form.password|as_crispy_field}}
      <br />
      <button type="submit" class="btn btn-primary w-100 btn-block p-2">
        <i class="fa fa-key"></i> &nbsp;
        Login
      </button>
      <br />
      <br />
      <div class="text-center">
        <p>
          Don't have an account? <br /><br /><a href="{% url 'register'%}"
            >Register</a
          >
        </p>
      </div>
      <br />
    </form>
  </div>
</body>
{% endblock %}
