<nav
  class="navbar navbar-expand-lg bg-primary navbar-dark justify-content-center"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url '' %}">WDatabase</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        &nbsp; &nbsp; &nbsp; {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}"><i class="fa fa-home"></i>&nbsp;Dashbaoard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}"
            ><i class="fa fa-sign-out"></i>&nbsp;Logout</a
          >
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}"><i class="fa fa-plus">&nbsp;</i>Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}"
            ><i class="fa fa-sign-in">&nbsp;</i>Login</a
          >
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
