{% extends 'webdatabase/base.html' %} 

{% load crispy_forms_tags %}
 {% block content %}
 <div class="card">
    <div class="card-body">
        <strong>
            <br>
            &nbsp; &nbsp;
            {{record.last_name|upper}}
            {{record.first_name}}
        </strong>
        <hr/>
        <p><strong>ID:</strong>  {{record.id}}</p>
        <p><strong>Email:</strong>  {{record.email}}</p>
        <p><strong>Phone Number:</strong>  {{record.phone}}</p>
        <p><strong>City:</strong>  {{record.city}}</p>
        <p><strong>Date Joined:</strong>  {{record.creation_date}}</p>
    </div>
 </div>
 <br/>
 <a href="{% url 'dashboard' %}" class="btn btn-secondary"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Return</a>
 &nbsp;
 <a href="{% url 'update-record' record.id %}" class="btn btn-info"> <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Update Record</a>
 &nbsp;
 <a href="{% url 'delete-record' record.id %}" class="btn btn-danger"><i class="fa fa-minus-square" aria-hidden="true"></i>&nbsp;Delete</a>
 &nbsp;
 {% endblock %}